---
title: La gestion de projet en pilote automatique avec trello
description:
page_title: Améliorez votre productivité avec Trello
page_emphasis: "Améliorer l’accessibilité & lisibilité des caractères avec du CSS"
page_class: m-good-practice
changefreq: monthly
priority: 0.6
---

.row
  .medium-12.columns
    markdown:
      # Trello 101

      Installer l'extention Google Chrome : scrum
      https://chrome.google.com/webstore/detail/scrum-for-trello/jdbcdblgjdpmfninkoogcfpnkjmndgje

      Devenir un power user de Trello
      https://trello.com/b/QtjSVKOf/the-ultimate-board-of-trello-tips-tricks

      Écrire en .markdown dans les descriptions
      https://gist.github.com/flexbox/4654508


      http://courses.davidl.fr/presentations/workflow/
